$navigation-background-color-1:#8f24af;
$navigation-background-color-2:#261447;

$header-linear-color1:#261447c0;
$header-linear-color2:#450a5ab9;
$header-linear-color3:#531388a8;
$header-linear-color4:#791E94;
$header-text-color:#fff;

$section-about-background-color:#f7f7f7;

$section-skill-icon-color:#450a5ab9;

$section-repositories-background-color:#f7f7f7;

$repositories-front-side-color:#fff;

$repositories-heading-color-1:#0d0221c7;
$repositories-heading-color-2:#261447c7;
$repositories-heading-color-3:#540d6eb4;
$repositories-heading-color-4:#781e94b4;
$repositories-heading-color-5:#d400789a;
$repositories-heading-color-6:#f6019c9a;

$repositories-backside-color-1:#0d0221c7;
$repositories-backside-color-2:#261447c7;
$repositories-backside-color-3:#540d6eb4;
$repositories-backside-color-4:#781e94b4;
$repositories-backside-color-5:#d400789a;
$repositories-backside-color-6:#f6019c9a;

$degrees-button-1-color-1:#F28003b9;
$degrees-button-1-color-2:#f79935b9;
$degrees-button-1-hover-color-1:#F28003;
$degrees-button-1-hover-color-2:#f79935;

$degrees-button-2-color-1:#030e3cb9;
$degrees-button-2-color-2:#0d35d3b9;
$degrees-button-2-hover-color-1:#030E3C;
$degrees-button-2-hover-color-2:#0d35d3;

$degrees-button-3-color-1:#121214b9;
$degrees-button-3-color-2:#8257E5b9;
$degrees-button-3-hover-color-1:#121214;
$degrees-button-3-hover-color-2:#8257E5;

$degrees-button-4-color-1:#b22222;
$degrees-button-4-color-2:#cd5c5c;
$degrees-button-4-hover-color-1:#8b0000;
$degrees-button-4-hover-color-2:#dc143c;

$about-me-icon-color:#450a5ab9;